<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haubey.tangent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name="OrientationTest"
            android:label="@string/title_orentation_test"
        	></activity>
        <activity
            android:name="EnterFunction"
            android:label="@string/title_enter_function"
         	></activity>
        <activity
            android:name="Grapher"
            android:label="@string/title_grapher"
            ></activity>
        <activity
            android:name="MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
    </application>

</manifest>